<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <div>
        <form action="/posts" method="post">
            <h1>Create the new post</h1>
            <input type="text" placeholder="enter username" name="username">
            <textarea name="content" id="content" placeholder="Enter the contect"></textarea>
            <button>Creat post</button>
        </form>
    </div>
</body>
</html>